div.prompt.input_prompt { 
    color: navy;
}

div.prompt.output_prompt { 
    color: red;
}

div.output_wrapper {
    overflow-x: scroll;
}

article.single {
    font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    text-align: left;
}
